# Ignore virtual environment directory
venv/

# Ignore VS Code settings
.vscode/

# Ignore Python cache files
__pycache__/

# Ignore model files (if they are large)
vosk-model-en-us-0.22/

# Ignore other temporary or log files
*.log
*.tmp

# Ignore video playlist
video/